body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: serif;
  transition: background 0.3s, color 0.3s;
  text-rendering: optimizeSpeed; /* Improves text rendering performance */
  -webkit-font-smoothing: antialiased;
}

/* === TYPOGRAPHY === */
h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.description {
  margin-bottom: .5rem;
  line-height: 1.4;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}