/* === LAYOUT === */
.container {
  max-width: 900px;
  margin: 2rem auto;
  background: var(--container-bg);
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.side-by-side .container {
  max-width: 1200px;
}

.editor-container {
  position: relative;
  margin-bottom: 1rem;
}