/* === NAVBAR === */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--navbar-bg);
  color: var(--navbar-color);
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--border-color);
}

.navbar-left .site-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: -5px;
}